WEATHER_API_KEY=your_openweather_api_key_here

DB_DNS=postgresql+psycopg://postgres:postgres@db:5432/db
LOCAL_MIGRATION_DB_DNS=postgresql+psycopg://postgres:postgres@localhost:2222/db

RATE_LIMIT_REQUESTS=30
RATE_LIMIT_WINDOW_SECONDS=60